<div class="main-header">
  <div class="left-header">
    <div class="header-title">
      職場の安全サイト_ヒヤリハット事例
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">投稿する</a>
    </div>
  </div>
</div>

<div class="main-content">
  <div class="content">
    左のメニューから見たい型を選んでください。
  </div>
</div>