<div class="side-bar-header">
  <div class="header-name">
    <a href="#">ヒヤリハット事例集</a>
  </div>
  <div class="log-in">
    <a href="#">ログイン</a>
  </div>
</div>

<div class="types">
  <div class="type">
    <div class="type-name">
      <a href="#">墜落・転落</a>
    </div>
  </div>
  <div class="type">
    <div class="type-name">
      <a href="#">転倒</a>
    </div>
  </div>
  <div class="type">
    <div class="type-name">
      <a href="#">激突・激突され</a>
    </div>
  </div>
  <div class="type">
    <div class="type-name">
      <a href="#">飛来・落下</a>
    </div>
  </div>
  <div class="type">
    <div class="type-name">
      <a href="#">崩壊・倒壊</a>
    </div>
  </div>
  <div class="type">
    <div class="type-name">
      <a href="#">はさまれ・巻き込まれ</a>
    </div>
  </div>
  <div class="type">
    <div class="type-name">
      <a href="#">切れ・こすれ</a>
    </div>
  </div>
  <div class="type">
    <div class="type-name">
      <a href="#">高温・低温の物との接触</a>
    </div>
  </div>
  <div class="type">
    <div class="type-name">
      <a href="#">感電・火災</a>
    </div>
  </div>
  <div class="type">
    <div class="type-name">
      <a href="#">有害物との接触</a>
    </div>
  </div>
  <div class="type">
    <div class="type-name">
      <a href="#">交通事故</a>
    </div>
  </div>
  <div class="type">
    <div class="type-name">
      <a href="#">動作の反動・無理な動作</a>
    </div>
  </div>
  <div class="type">
    <div class="type-name">
      <a href="#">破裂</a>
    </div>
  </div>
  <div class="type">
    <div class="type-name">
      <a href="#">その他</a>
    </div>
  </div>
</div>