.wrapper {
  display: flex;
}

.side-bar {
  background-color: #253141;
  width: 300px;
  height: 100vh;
}

.side-bar-header{
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-name a{
  font-size: 16px;
  color: #fafafa;
  text-decoration: none;
}

.log-in a{
  font-size: 12px;
  border: 1px solid lightblue;
  padding: 14px;
  color: deepskyblue;
  text-decoration: none;
}

.types {
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.type {
  padding: 20px 0 40px;
}

.type-name a {
  text-decoration: none;
  color: white;
}

.main {
  background-color: #ffffff;
  width: calc(100vw - 300px);
}

.main-header {
  height: 100px;
  padding: 0 40px;
  background-color: #a9a9a9;
  display: flex;
  justify-content: space-between;
}

.header-title {
  color: #333;
  font-size: 24px;
  margin-top: 36px;
}

.header-button {
  margin-top: 40px;
}

.header-button a {
  text-decoration: none;
  border: 1px solid darkred;
  color: darkred;
  padding: 20px;
}

.main-content {
  height: calc(100vh - 100px);
  background-color: #808080;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 200px;
}